In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
df=pd.read_csv('yeast_csv.csv')
y=df.class_protein_localization.astype('category').cat.codes
df.drop(columns=['erl','pox','class_protein_localization'],inplace=True)
columns=df.columns
np.random.seed(1)
k = 5
# centroids[i] = [x, y]
centroids=[]
for i in range(k):
    centroids.append(np.random.uniform(size=len(columns)))

In [2]:
df.loc[0]

mcg    0.58
gvh    0.61
alm    0.47
mit    0.13
vac    0.48
nuc    0.22
Name: 0, dtype: float64

In [3]:
df.head(7)

    mcg   gvh   alm   mit   vac   nuc
0  0.58  0.61  0.47  0.13  0.48  0.22
1  0.43  0.67  0.48  0.27  0.53  0.22
2  0.64  0.62  0.49  0.15  0.53  0.22
3  0.58  0.44  0.57  0.13  0.54  0.22
4  0.42  0.44  0.48  0.54  0.48  0.22
5  0.51  0.40  0.56  0.17  0.49  0.22
6  0.50  0.54  0.48  0.65  0.53  0.22

In [4]:
y.value_counts()

0    463
7    429
6    244
5    163
4     51
3     44
2     35
9     30
8     20
1      5
dtype: int64

In [5]:
for i in range(k):
    print(centroids[i])

[4.17022005e-01 7.20324493e-01 1.14374817e-04 3.02332573e-01
 1.46755891e-01 9.23385948e-02]
[0.18626021 0.34556073 0.39676747 0.53881673 0.41919451 0.6852195 ]
[0.20445225 0.87811744 0.02738759 0.67046751 0.4173048  0.55868983]
[0.14038694 0.19810149 0.80074457 0.96826158 0.31342418 0.69232262]
[0.87638915 0.89460666 0.08504421 0.03905478 0.16983042 0.8781425 ]

In [6]:
def assignment(df, centroids):
    for i in range(k):
        x=0
        for j in range(len(columns)):
            
            x+=np.sqrt(np.abs((df[columns[j]] - centroids[i][j]) ** 2))
            
                    
            
        # sqrt((x1 - x2)^2 - (y1 - y2)^2)
        df['distance_from_{}'.format(i)] =x
            
      
    centroid_distance_cols = ['distance_from_{}'.format(i) for i in range(k)]
    #print(centroid_distance_cols)
    df['closest'] = df.loc[:, centroid_distance_cols].idxmin(axis=1)
    #cluster_label.append(df.loc[:, centroid_distance_cols].idxmin(axis=1))
    df['closest'] = df['closest'].map(lambda x: int(x.lstrip('distance_from_')))
    #df['color'] = df['closest'].map(lambda x: colmap[x])  
    return df

In [7]:
df=assignment(df,centroids)

In [8]:
df.head(5)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,1.376426,1.666253,2.02813,2.659416,2.025209,0
1,0.43,0.67,0.48,0.27,0.53,0.22,1.086426,1.496253,1.73813,2.469416,2.315209,0
2,0.64,0.62,0.49,0.15,0.53,0.22,1.476426,1.786253,2.12813,2.739416,2.045209,0
3,0.58,0.44,0.57,0.13,0.54,0.22,1.706426,1.656253,2.35813,2.449416,2.355209,1
4,0.42,0.44,0.48,0.54,0.48,0.22,1.461761,0.938620,1.63813,1.909416,2.775209,1

In [9]:
df.iloc[:, :].head(5)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,1.376426,1.666253,2.02813,2.659416,2.025209,0
1,0.43,0.67,0.48,0.27,0.53,0.22,1.086426,1.496253,1.73813,2.469416,2.315209,0
2,0.64,0.62,0.49,0.15,0.53,0.22,1.476426,1.786253,2.12813,2.739416,2.045209,0
3,0.58,0.44,0.57,0.13,0.54,0.22,1.706426,1.656253,2.35813,2.449416,2.355209,1
4,0.42,0.44,0.48,0.54,0.48,0.22,1.461761,0.938620,1.63813,1.909416,2.775209,1

In [10]:
columns

Index(['mcg', 'gvh', 'alm', 'mit', 'vac', 'nuc'], dtype='object')

In [11]:
import copy

old_centroids = copy.deepcopy(centroids)

def update(l):
    for i in range(k):
        for j in range(len(columns)):
            centroids[i][j] = np.mean(df[df['closest'] == i][columns[j]])
        #centroids[i][8] = np.mean(df[df['closest'] == i]['TAX'])
    return l

centroids = update(centroids)

In [12]:
df = assignment(df, centroids)

In [13]:
df.tail(9)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
1475,0.71,0.50,0.50,0.18,0.46,0.22,0.358473,0.548341,1.13625,1.9125,0.777143,0
1476,0.61,0.48,0.54,0.25,0.50,0.22,0.249181,0.329547,0.98625,1.7225,0.881429,0
1477,0.38,0.32,0.64,0.41,0.44,0.11,0.998901,0.706530,1.47375,0.9025,1.701429,1
1478,0.38,0.40,0.66,0.35,0.43,0.11,0.888901,0.596530,1.48375,1.0125,1.591429,1
1479,0.81,0.62,0.43,0.17,0.53,0.22,0.403482,0.836228,1.01625,2.2825,0.427143,0
1480,0.47,0.43,0.61,0.40,0.48,0.47,0.836518,0.436703,0.96125,1.5425,1.307143,1
1481,0.67,0.57,0.36,0.19,0.56,0.22,0.351918,0.726228,0.97125,2.1725,0.557143,0
1482,0.43,0.40,0.60,0.16,0.53,0.39,0.729683,0.379332,1.21375,1.6925,1.122857,1
1483,0.65,0.54,0.54,0.13,0.53,0.22,0.340410,0.577435,1.08625,1.9725,0.817143,0

In [14]:
while True:
    closest_centroids = df['closest'].copy(deep=True)
    centroids = update(centroids)
    df = assignment(df, centroids)
    if closest_centroids.equals(df['closest']): #that is no change in the centroids
        break

In [15]:
df.head(15)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,0.327268,0.642889,0.655415,2.26,0.539070,0
1,0.43,0.67,0.48,0.27,0.53,0.22,0.405432,0.546749,0.595371,2.07,0.490000,0
2,0.64,0.62,0.49,0.15,0.53,0.22,0.357473,0.696072,0.704061,2.34,0.460000,0
3,0.58,0.44,0.57,0.13,0.54,0.22,0.355447,0.532619,0.644541,2.05,0.810000,0
4,0.42,0.44,0.48,0.54,0.48,0.22,0.613438,0.553567,0.302707,1.51,0.943721,2
5,0.51,0.40,0.56,0.17,0.49,0.22,0.267111,0.329436,0.527205,1.86,0.859070,0
6,0.50,0.54,0.48,0.65,0.53,0.22,0.585432,0.866749,0.312664,1.63,0.864651,2
7,0.48,0.45,0.59,0.20,0.58,0.34,0.342732,0.372528,0.617293,2.03,0.950349,0
8,0.55,0.50,0.66,0.36,0.49,0.22,0.431334,0.680113,0.375895,1.71,0.743721,2
9,0.40,0.39,0.60,0.15,0.58,0.30,0.496641,0.273296,0.777293,1.89,1.110349,1
10,0.43,0.39,0.54,0.21,0.53,0.27,0.292732,0.163973,0.547293,1.84,0.880349,1
11,0.42,0.37,0.59,0.20,0.52,0.29,0.372732,0.203296,0.647293,1.78,0.980349,1
12,0.40,0.42,0.57,0.35,0.53,0.25,0.473407,0.353296,0.445852,1.65,0.845000,1
13,0.60,0.40,0.52,0.46,0.53,0.22,0.551538,0.623296,0.322751,1.74,0.754651,2
14,0.66,0.55,0.45,0.19,0.46,0.22,0.327268,0.642889,0.655415,2.22,0.459070,0

In [16]:
def prob(df,centroids):
    for i in range(k):
        z=0
        for j in range(len(columns)):
            z+=np.sqrt((df[columns[j]] - centroids[i][j])** 2)# sqrt((x1 - x2)^2 - (y1 - y2)^2)
                       
        df['Probability_{}'.format(i)] =(np.exp(-1*z))#/sum(df,centroids)

prob(df,centroids)
print(df.head())

    mcg   gvh   alm   mit   vac   nuc  distance_from_0  distance_from_1  \
0  0.58  0.61  0.47  0.13  0.48  0.22         0.327268         0.642889
1  0.43  0.67  0.48  0.27  0.53  0.22         0.405432         0.546749
2  0.64  0.62  0.49  0.15  0.53  0.22         0.357473         0.696072
3  0.58  0.44  0.57  0.13  0.54  0.22         0.355447         0.532619
4  0.42  0.44  0.48  0.54  0.48  0.22         0.613438         0.553567

   distance_from_2  distance_from_3  distance_from_4  closest  Probability_0  \
0         0.655415             2.26         0.539070        0       0.720890
1         0.595371             2.07         0.490000        0       0.666689
2         0.704061             2.34         0.460000        0       0.699442
3         0.644541             2.05         0.810000        0       0.700860
4         0.302707             1.51         0.943721        2       0.541486

   Probability_1  Probability_2  Probability_3  Probability_4
0       0.525771       0.519227       0.104350       0.583291
1       0.578828       0.551358       0.126186       0.612626
2       0.498540       0.494573       0.096328       0.631284
3       0.587066       0.524903       0.128735       0.444858
4       0.574896       0.738815       0.220910       0.389177

In [17]:
from sklearn.metrics import silhouette_samples, silhouette_score
def score_metric(df):
   
    silhouette_avg = silhouette_score(df, np.array(df['closest']))
    print(silhouette_avg)#(-1,1) Higher the better
    
score_metric(df)

0.5794946315344066

In [18]:
df.to_csv('KMEANS.csv')