In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
df=pd.read_csv('yeast_csv.csv')
y=df.class_protein_localization.astype('category').cat.codes
df.drop(columns=['erl','pox','class_protein_localization'],inplace=True)
columns=df.columns
np.random.seed(0)
k = 5
# centroids[i] = [x, y]
centroids=[]
for i in range(k):
    centroids.append(np.random.uniform(size=len(columns)))
#df.drop(columns='class_protein_localization',inplace=True)
print(centroids)

[array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ,
       0.64589411]), array([0.43758721, 0.891773  , 0.96366276, 0.38344152, 0.79172504,
       0.52889492]), array([0.56804456, 0.92559664, 0.07103606, 0.0871293 , 0.0202184 ,
       0.83261985]), array([0.77815675, 0.87001215, 0.97861834, 0.79915856, 0.46147936,
       0.78052918]), array([0.11827443, 0.63992102, 0.14335329, 0.94466892, 0.52184832,
       0.41466194])]

In [2]:
def centroid(df):
    sumd=0
    arr=[]
    import copy
    df1 = copy.deepcopy(df)
    for i in range(k):
        if i!=0:
            print(i)
            sumd = np.linalg.norm(df1.sub(np.array(centroids[i-1])), axis=1)
            
            #if(index!=)
            #print(len(sumd))
            index=int(np.argmax(sumd))
            print(index)
            print(df1.loc[index])

            #df.head(5)
            #print(index)
            #x=df['mcg'][index]
            #y=df['gvh'][index]
            for j in range(len(columns)):
                centroids[i][j]=df[columns[j]][index]
            df1.drop(index,axis=0,inplace=True)
centroid(df)
    
#print(centroids)

1
989
mcg    0.35
gvh    0.21
alm    1.00
mit    0.80
vac    0.13
nuc    0.01
Name: 989, dtype: float64
2
114
mcg    0.45
gvh    0.51
alm    0.50
mit    0.16
vac    0.52
nuc    1.00
Name: 114, dtype: float64
3
988
mcg    0.43
gvh    0.22
alm    0.79
mit    0.79
vac    0.22
nuc    0.00
Name: 988, dtype: float64
4
1076
mcg    0.77
gvh    0.82
alm    0.40
mit    0.36
vac    0.38
nuc    0.22
Name: 1076, dtype: float64

In [3]:
centroids

[array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ,
        0.64589411]),
 array([0.35, 0.21, 1.  , 0.8 , 0.13, 0.01]),
 array([0.45, 0.51, 0.5 , 0.16, 0.52, 1.  ]),
 array([0.43, 0.22, 0.79, 0.79, 0.22, 0.  ]),
 array([0.77, 0.82, 0.4 , 0.36, 0.38, 0.22])]

In [4]:
#df.reset_index(drop=True).head(2)

In [5]:
df.shape

(1484, 6)

In [6]:
y.value_counts()

0    463
7    429
6    244
5    163
4     51
3     44
2     35
9     30
8     20
1      5
dtype: int64

In [7]:
for i in range(k):
    print(centroids[i])

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548  0.64589411]
[0.35 0.21 1.   0.8  0.13 0.01]
[0.45 0.51 0.5  0.16 0.52 1.  ]
[0.43 0.22 0.79 0.79 0.22 0.  ]
[0.77 0.82 0.4  0.36 0.38 0.22]

In [8]:
def assignment(df, centroids):
    for i in range(k):
        x=0
        for j in range(len(columns)):
            
            x+=np.sqrt(np.abs((df[columns[j]] - centroids[i][j]) ** 2))
            #print()
                    
            
        # sqrt((x1 - x2)^2 - (y1 - y2)^2)
        df['distance_from_{}'.format(i)] =x
            
      
    centroid_distance_cols = ['distance_from_{}'.format(i) for i in range(k)]
    #print(centroid_distance_cols)
    df['closest'] = df.loc[:, centroid_distance_cols].idxmin(axis=1)
    #cluster_label.append(df.loc[:, centroid_distance_cols].idxmin(axis=1))
    df['closest'] = df['closest'].map(lambda x: int(x.lstrip('distance_from_')))
    #df['color'] = df['closest'].map(lambda x: colmap[x])  
    return df

In [9]:
df=assignment(df,centroids)

In [10]:
df.tail(5)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
1479,0.81,0.62,0.43,0.17,0.53,0.22,1.436262,2.68,1.34,2.29,0.61,4
1480,0.47,0.43,0.61,0.40,0.48,0.47,0.748362,1.94,1.02,1.55,1.29,0
1481,0.67,0.57,0.36,0.19,0.56,0.22,1.426262,2.57,1.27,2.18,0.74,4
1482,0.43,0.40,0.60,0.16,0.53,0.39,1.183889,2.09,0.85,1.70,1.48,2
1483,0.65,0.54,0.54,0.13,0.53,0.22,1.286262,2.37,1.09,1.98,0.92,4

In [11]:
df.iloc[:, :9].head(5)
#df.dropna(inplace=True)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2
0,0.58,0.61,0.47,0.13,0.48,0.22,1.166262,2.39,1.11
1,0.43,0.67,0.48,0.27,0.53,0.22,1.093889,2.20,1.10
2,0.64,0.62,0.49,0.15,0.53,0.22,1.226262,2.47,1.11
3,0.58,0.44,0.57,0.13,0.54,0.22,1.296262,2.18,1.10
4,0.42,0.44,0.48,0.54,0.48,0.22,1.013889,1.64,1.32

In [12]:
columns

Index(['mcg', 'gvh', 'alm', 'mit', 'vac', 'nuc'], dtype='object')

In [13]:
import copy

old_centroids = copy.deepcopy(centroids)

def update(l):
    for i in range(k):
        for j in range(len(columns)):
            centroids[i][j] = np.mean(df[df['closest'] == i][columns[j]])
        #centroids[i][8] = np.mean(df[df['closest'] == i]['TAX'])
    return l

centroids = update(centroids)

In [14]:
df = assignment(df, centroids)

In [15]:
df.tail(9)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
1475,0.71,0.50,0.50,0.18,0.46,0.22,0.701287,2.31,0.507337,0.970435,0.369009,4
1476,0.61,0.48,0.54,0.25,0.50,0.22,0.486257,2.12,0.425539,0.780435,0.228506,4
1477,0.38,0.32,0.64,0.41,0.44,0.11,0.741579,1.30,0.794493,0.168261,0.921524,3
1478,0.38,0.40,0.66,0.35,0.43,0.11,0.751579,1.41,0.684493,0.306087,0.811524,3
1479,0.81,0.62,0.43,0.17,0.53,0.22,0.991287,2.68,0.772598,1.340435,0.486642,4
1480,0.47,0.43,0.61,0.40,0.48,0.47,0.414678,1.94,0.554624,0.600435,0.753358,0
1481,0.67,0.57,0.36,0.19,0.56,0.22,0.881287,2.57,0.684101,1.230435,0.376642,4
1482,0.43,0.40,0.60,0.16,0.53,0.39,0.657778,2.09,0.239886,0.750435,0.736228,2
1483,0.65,0.54,0.54,0.13,0.53,0.22,0.683158,2.37,0.510801,1.030435,0.358506,4

In [16]:
while True:
    closest_centroids = df['closest'].copy(deep=True)
    centroids = update(centroids)
    df = assignment(df, centroids)
    if closest_centroids.equals(df['closest']): #that is no change in the centroids
        break

In [17]:
df.head(15)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,0.653233,2.26,0.331912,0.647176,0.528436,2
1,0.43,0.67,0.48,0.27,0.53,0.22,0.593664,2.07,0.403354,0.550741,0.479665,2
2,0.64,0.62,0.49,0.15,0.53,0.22,0.701509,2.34,0.362696,0.700185,0.449665,2
3,0.58,0.44,0.57,0.13,0.54,0.22,0.642974,2.05,0.355580,0.536250,0.799665,2
4,0.42,0.44,0.48,0.54,0.48,0.22,0.305991,1.51,0.606677,0.557731,0.942123,0
5,0.51,0.40,0.56,0.17,0.49,0.22,0.526853,1.86,0.258495,0.333241,0.848436,2
6,0.50,0.54,0.48,0.65,0.53,0.22,0.314871,1.63,0.583354,0.870741,0.863352,0
7,0.48,0.45,0.59,0.20,0.58,0.34,0.615560,2.03,0.338088,0.371944,0.935754,2
8,0.55,0.50,0.66,0.36,0.49,0.22,0.374698,1.71,0.431755,0.683796,0.742123,0
9,0.40,0.39,0.60,0.15,0.58,0.30,0.775560,1.89,0.491129,0.276250,1.095754,3
10,0.43,0.39,0.54,0.21,0.53,0.27,0.545560,1.84,0.288088,0.166806,0.865754,3
11,0.42,0.37,0.59,0.20,0.52,0.29,0.645560,1.78,0.368088,0.203241,0.965754,3
12,0.40,0.42,0.57,0.35,0.53,0.25,0.445129,1.65,0.466238,0.356806,0.843352,3
13,0.60,0.40,0.52,0.46,0.53,0.22,0.320905,1.74,0.552539,0.626806,0.753352,0
14,0.66,0.55,0.45,0.19,0.46,0.22,0.653233,2.22,0.331912,0.647176,0.448436,2

In [18]:
def prob(df,centroids):
    for i in range(k):
        z=0
        for j in range(len(columns)):
            z+=np.sqrt((df[columns[j]] - centroids[i][j])** 2)# sqrt((x1 - x2)^2 - (y1 - y2)^2)
                       
        df['Probability_{}'.format(i)] =(np.exp(-1*z))#/sum(df,centroids)

prob(df,centroids)
print(df.head())

    mcg   gvh   alm   mit   vac   nuc  distance_from_0  distance_from_1  \
0  0.58  0.61  0.47  0.13  0.48  0.22         0.653233             2.26
1  0.43  0.67  0.48  0.27  0.53  0.22         0.593664             2.07
2  0.64  0.62  0.49  0.15  0.53  0.22         0.701509             2.34
3  0.58  0.44  0.57  0.13  0.54  0.22         0.642974             2.05
4  0.42  0.44  0.48  0.54  0.48  0.22         0.305991             1.51

   distance_from_2  distance_from_3  distance_from_4  closest  Probability_0  \
0         0.331912         0.647176         0.528436        2       0.520361
1         0.403354         0.550741         0.479665        2       0.552300
2         0.362696         0.700185         0.449665        2       0.495837
3         0.355580         0.536250         0.799665        2       0.525727
4         0.606677         0.557731         0.942123        0       0.736393

   Probability_1  Probability_2  Probability_3  Probability_4
0       0.104350       0.717550       0.523522       0.589526
1       0.126186       0.668075       0.576523       0.618991
2       0.096328       0.695798       0.496493       0.637842
3       0.128735       0.700767       0.584938       0.449480
4       0.220910       0.545159       0.572506       0.389799

In [19]:
from sklearn.metrics import silhouette_samples, silhouette_score
def score_metric(df):
   
    silhouette_avg = silhouette_score(df, np.array(df['closest']))
    print(silhouette_avg)#(-1,1) Higher the better
    
score_metric(df)

0.5941516159076483

In [20]:
df.shape

(1484, 17)

In [21]:
df.to_csv('KMEANSPP.csv')