In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
df=pd.read_csv('yeast_csv.csv')
y=df.class_protein_localization.astype('category').cat.codes
df.drop(columns=['erl','pox','class_protein_localization'],inplace=True)
columns=df.columns
np.random.seed()
k = 9
# centroids[i] = [x, y]
centroids=[]
for i in range(k):
    centroids.append(np.random.uniform(size=len(columns)))

In [137]:
df.head(7)

    mcg   gvh   alm   mit   vac   nuc
0  0.58  0.61  0.47  0.13  0.48  0.22
1  0.43  0.67  0.48  0.27  0.53  0.22
2  0.64  0.62  0.49  0.15  0.53  0.22
3  0.58  0.44  0.57  0.13  0.54  0.22
4  0.42  0.44  0.48  0.54  0.48  0.22
5  0.51  0.40  0.56  0.17  0.49  0.22
6  0.50  0.54  0.48  0.65  0.53  0.22

In [140]:
y.value_counts()

0    463
7    429
6    244
5    163
4     51
3     44
2     35
9     30
8     20
1      5
dtype: int64

In [141]:
for i in range(k):
    print(centroids[i])

[0.23894965 0.29232845 0.20969924 0.27076446 0.69979618 0.17726724]
[0.31275217 0.4902615  0.59075377 0.84917393 0.45690412 0.85199718]
[0.72433607 0.72657077 0.41861867 0.43068116 0.6389867  0.17652872]
[0.49886761 0.17453673 0.19088016 0.47476475 0.54126211 0.29812406]
[0.05672869 0.14752319 0.13074192 0.29150478 0.96452877 0.66114854]
[0.48486763 0.11266019 0.39487503 0.77334047 0.93798844 0.04802246]
[0.82228671 0.91417583 0.4047139  0.34865238 0.26049467 0.50186175]
[0.44696007 0.34499892 0.10176841 0.56307853 0.4583627  0.44649562]
[0.71002864 0.774819   0.74096217 0.63041094 0.72607139 0.40580411]

In [142]:
def assignment(df, centroids):
    k=9
    for i in range(k):
      
        for j in range(len(columns)):
            
            x=np.sqrt(np.abs((df[columns[j]] - centroids[i][j]) ** 2))
            
                    
            
        # sqrt((x1 - x2)^2 - (y1 - y2)^2)
            df['distance_from_{}'.format(i)] =x
            
      
    centroid_distance_cols = ['distance_from_{}'.format(i) for i in range(k)]
    #print(centroid_distance_cols)
    df['closest'] = df.loc[:, centroid_distance_cols].idxmin(axis=1)
    #cluster_label.append(df.loc[:, centroid_distance_cols].idxmin(axis=1))
    df['closest'] = df['closest'].map(lambda x: int(x.lstrip('distance_from_')))
    #df['color'] = df['closest'].map(lambda x: colmap[x])  
    return df

In [143]:
df=assignment(df,centroids)

In [144]:
df.head(5)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,distance_from_5,distance_from_6,distance_from_7,distance_from_8,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,0.042733,0.631997,0.043471,0.078124,0.441149,0.171978,0.281862,0.226496,0.185804,0
1,0.43,0.67,0.48,0.27,0.53,0.22,0.042733,0.631997,0.043471,0.078124,0.441149,0.171978,0.281862,0.226496,0.185804,0
2,0.64,0.62,0.49,0.15,0.53,0.22,0.042733,0.631997,0.043471,0.078124,0.441149,0.171978,0.281862,0.226496,0.185804,0
3,0.58,0.44,0.57,0.13,0.54,0.22,0.042733,0.631997,0.043471,0.078124,0.441149,0.171978,0.281862,0.226496,0.185804,0
4,0.42,0.44,0.48,0.54,0.48,0.22,0.042733,0.631997,0.043471,0.078124,0.441149,0.171978,0.281862,0.226496,0.185804,0

In [145]:
df.iloc[:, :9].head(5)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2
0,0.58,0.61,0.47,0.13,0.48,0.22,0.042733,0.631997,0.043471
1,0.43,0.67,0.48,0.27,0.53,0.22,0.042733,0.631997,0.043471
2,0.64,0.62,0.49,0.15,0.53,0.22,0.042733,0.631997,0.043471
3,0.58,0.44,0.57,0.13,0.54,0.22,0.042733,0.631997,0.043471
4,0.42,0.44,0.48,0.54,0.48,0.22,0.042733,0.631997,0.043471

In [146]:
columns

Index(['mcg', 'gvh', 'alm', 'mit', 'vac', 'nuc'], dtype='object')

In [147]:
import copy

old_centroids = copy.deepcopy(centroids)

def update(l):
    for i in range(k):
        for j in range(len(columns)):
            centroids[i][j] = np.mean(df[df['closest'] == i]['mcg'])
            centroids[i][1] = np.mean(df[df['closest'] == i]['gvh'])
            centroids[i][2] = np.mean(df[df['closest'] == i]['alm'])
            centroids[i][3] = np.mean(df[df['closest'] == i]['mit'])
            centroids[i][4] = np.mean(df[df['closest'] == i]['vac'])
            centroids[i][5] = np.mean(df[df['closest'] == i]['nuc'])
        #centroids[i][8] = np.mean(df[df['closest'] == i]['TAX'])
    return l

centroids = update(centroids)

In [148]:
df = assignment(df, centroids)

In [149]:
df.tail(9)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,distance_from_5,distance_from_6,distance_from_7,distance_from_8,closest
1475,0.71,0.50,0.50,0.18,0.46,0.22,0.000344,0.658333,0.065,0.064352,0.441351,0.1224,0.30375,0.227708,0.165152,0
1476,0.61,0.48,0.54,0.25,0.50,0.22,0.000344,0.658333,0.065,0.064352,0.441351,0.1224,0.30375,0.227708,0.165152,0
1477,0.38,0.32,0.64,0.41,0.44,0.11,0.109656,0.768333,0.045,0.174352,0.551351,0.0124,0.41375,0.337708,0.275152,5
1478,0.38,0.40,0.66,0.35,0.43,0.11,0.109656,0.768333,0.045,0.174352,0.551351,0.0124,0.41375,0.337708,0.275152,5
1479,0.81,0.62,0.43,0.17,0.53,0.22,0.000344,0.658333,0.065,0.064352,0.441351,0.1224,0.30375,0.227708,0.165152,0
1480,0.47,0.43,0.61,0.40,0.48,0.47,0.250344,0.408333,0.315,0.185648,0.191351,0.3724,0.05375,0.022292,0.084848,7
1481,0.67,0.57,0.36,0.19,0.56,0.22,0.000344,0.658333,0.065,0.064352,0.441351,0.1224,0.30375,0.227708,0.165152,0
1482,0.43,0.40,0.60,0.16,0.53,0.39,0.170344,0.488333,0.235,0.105648,0.271351,0.2924,0.13375,0.057708,0.004848,8
1483,0.65,0.54,0.54,0.13,0.53,0.22,0.000344,0.658333,0.065,0.064352,0.441351,0.1224,0.30375,0.227708,0.165152,0

In [150]:
while True:
    closest_centroids = df['closest'].copy(deep=True)
    centroids = update(centroids)
    df = assignment(df, centroids)
    if closest_centroids.equals(df['closest']): #that is no change in the centroids
        break

In [151]:
df.head(15)

,mcg,gvh,alm,mit,vac,nuc,distance_from_0,distance_from_1,distance_from_2,distance_from_3,distance_from_4,distance_from_5,distance_from_6,distance_from_7,distance_from_8,closest
0,0.58,0.61,0.47,0.13,0.48,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
1,0.43,0.67,0.48,0.27,0.53,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
2,0.64,0.62,0.49,0.15,0.53,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
3,0.58,0.44,0.57,0.13,0.54,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
4,0.42,0.44,0.48,0.54,0.48,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
5,0.51,0.40,0.56,0.17,0.49,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
6,0.50,0.54,0.48,0.65,0.53,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
7,0.48,0.45,0.59,0.20,0.58,0.34,0.117544,0.538333,0.175,0.055723,0.329394,0.2424,0.203824,0.104231,0.021328,8
8,0.55,0.50,0.66,0.36,0.49,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
9,0.40,0.39,0.60,0.15,0.58,0.30,0.077544,0.578333,0.135,0.015723,0.369394,0.2024,0.243824,0.144231,0.061328,3
10,0.43,0.39,0.54,0.21,0.53,0.27,0.047544,0.608333,0.105,0.014277,0.399394,0.1724,0.273824,0.174231,0.091328,3
11,0.42,0.37,0.59,0.20,0.52,0.29,0.067544,0.588333,0.125,0.005723,0.379394,0.1924,0.253824,0.154231,0.071328,3
12,0.40,0.42,0.57,0.35,0.53,0.25,0.027544,0.628333,0.085,0.034277,0.419394,0.1524,0.293824,0.194231,0.111328,0
13,0.60,0.40,0.52,0.46,0.53,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0
14,0.66,0.55,0.45,0.19,0.46,0.22,0.002456,0.658333,0.055,0.064277,0.449394,0.1224,0.323824,0.224231,0.141328,0

In [155]:
def prob(df,centroids):
    for i in range(k):
        z=0
        for j in range(len(columns)):
            z+=np.sqrt((df[columns[j]] - centroids[i][j])** 2)# sqrt((x1 - x2)^2 - (y1 - y2)^2)
                       
        df['Probability_{}'.format(i)] =(np.exp(-1*z))#/sum(df,centroids)

prob(df,centroids)
print(df.head())

    mcg   gvh   alm   mit   vac   nuc  distance_from_0  distance_from_1  \
0  0.58  0.61  0.47  0.13  0.48  0.22         0.002456         0.658333
1  0.43  0.67  0.48  0.27  0.53  0.22         0.002456         0.658333
2  0.64  0.62  0.49  0.15  0.53  0.22         0.002456         0.658333
3  0.58  0.44  0.57  0.13  0.54  0.22         0.002456         0.658333
4  0.42  0.44  0.48  0.54  0.48  0.22         0.002456         0.658333

   distance_from_2  distance_from_3      ...        closest  Probability_0  \
0            0.055         0.064277      ...              0       0.717320
1            0.055         0.064277      ...              0       0.744553
2            0.055         0.064277      ...              0       0.692457
3            0.055         0.064277      ...              0       0.680303
4            0.055         0.064277      ...              0       0.609245

   Probability_1  Probability_2  Probability_3  Probability_4  Probability_5  \
0       0.310885       0.438722       0.632462       0.387915       0.410656
1       0.368493       0.530525       0.691534       0.475959       0.474070
2       0.301697       0.404992       0.609973       0.380464       0.379083
3       0.349355       0.541242       0.646672       0.431972       0.506617
4       0.350521       0.636566       0.607565       0.440165       0.576719

   Probability_6  Probability_7  Probability_8
0       0.426410       0.553050       0.570005
1       0.533846       0.581852       0.648631
2       0.416249       0.529324       0.550831
3       0.496585       0.553901       0.590586
4       0.511107       0.512102       0.562309

[5 rows x 25 columns]

In [162]:
from sklearn.metrics import silhouette_samples, silhouette_score
def score_metric(df):
   
    silhouette_avg = silhouette_score(df, np.array(df['closest']))
    print(silhouette_avg)#(-1,1) Higher the better
    
score_metric(df)

0.6936969928180021

In [163]:
df.to_csv('KMEANS_YEAST_FINAL.csv')